@charset "UTF-8";

body {
    background-color: #00374E;
}

* {
    padding: 0px;
    margin: 0px;
}

.menu {
    background-color: #E5E7EB;
    height: 600px;
    width: 600px;
    margin: auto;
    margin-top: 20px;
    border-radius: 10px;    
}

h1 {
    text-align: center;
    color: #00374E;
}

.menu > img {
    display: flex;
    align-items: center;
    text-align: center;
    margin: auto;
    border-radius: 30px;
    padding-bottom: 10px;
    
}

.menu > h2 {
    text-indent: 20px;
    padding-bottom: 20px;
}

.menu > ul {
    list-style-position: inside;
}